body {
    background: #fff;
    padding: 0 10px;
    font-family: 'Montserrat', sans-serif;
}

#form {
    max-width: 500px;
    width: 100%;
    background: #66B7F5;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 30px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    border-radius: 6px;
    border-style: dashed;
    border-color: #0C72C0;
}

#form .title {
    font-size: 18px;
    font-weight: 700;
    margin: 30px 0;
    color: #2a272a;
}

#form .form {
    width: 100%;
}

#form .form .input_field {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

#form .form .input_field label {
    width: 200px;
    margin-right: 10px;
    color: #2a272a
}

#form .form .input_field .input {
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

#form .form .input_field .btn {
    width: 100%;
    margin-top: 15px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px;
    background: #2C9CF2;
    color: #ffffff
}


.center {
    margin: auto;
}

.text-center {
    text-align: center;
}

#table table {
    width: calc(100% - 20px);
    margin: 20px;
}

thead th {
    background-color: #A5D8FF;
}